<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        (click)="toggleSidebarState()" *ngIf="isLoggedIn()">
        <mat-icon *ngIf="!isSidebarOpen">menu</mat-icon>
        <mat-icon *ngIf="isSidebarOpen">close</mat-icon>
    </button>
    <a routerLink="/home"><span>Login Portal</span></a>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon settings-icon" aria-label="Example icon-button with heart icon"
        *ngIf="isLoggedIn() && isAdmin()" (click)="onClickSettings()">
        <mat-icon>settings</mat-icon>
    </button>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="over" [opened]="isSidebarOpen" (closedStart)="onSidebarClose()"
        *ngIf="isLoggedIn()">
        <button mat-raised-button class="sidebar-button" (click)="logout()" color="primary">Logout</button>
    </mat-drawer>

    <div class="example-sidenav-content">
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>