<mat-toolbar color="primary">
    <a routerLink="/home"><span>Login Portal</span></a>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        (click)="toggleSidebarState()" *ngIf="isLoggedIn()" id="sidebar-menu-button">
        <mat-icon *ngIf="!isSidebarOpen">menu</mat-icon>
        <mat-icon *ngIf="isSidebarOpen">close</mat-icon>
    </button>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="over" [opened]="isSidebarOpen" (closedStart)="onSidebarClose()"
        *ngIf="isLoggedIn()" position="end">

        <button mat-raised-button class="sidebar-button" *ngIf="isLoggedIn() && isAdmin()" (click)="onClickSettings()"
            color="primary" id="sidebar-settings-button">
            <mat-icon>settings</mat-icon>
            Settings
        </button>
        <button mat-raised-button class="sidebar-button" (click)="logout()" color="primary" id="sidebar-logout-button">
            <mat-icon>logout</mat-icon>
            Logout
        </button>
    </mat-drawer>

    <div class="example-sidenav-content">
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>