@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.demo-table {
    width: 100%;
    margin-top: 10px;
}

.end-column {
    text-align: right;
}

#more-options-button {
    padding-top: 5px;
}