.grid-card {
    max-width: 400px;
    margin: auto;
    height: 200px;
}

.grid-card-container {
    margin: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

a {
    text-decoration: none;
}